/* HOME */

body {
  background-color: #676767;
  margin: 0;
  padding: 0;
}

@font-face {
   /* font-family: Merriweather;
    src: url(Merriweather\,Playfair_Display/Merriweather/Merriweather-Regular.ttf); */
    font-family: Roboto;
    src: url(Roboto/Roboto-Regular.ttf);    
}   

.container {
    display: grid;
}  

.wrapper {
    background-color: #fcf8f8;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px auto;
}

header img {
    width: 100%;
}

h1{
    text-align: center;
    color: #f2f4f8;
    position: relative;
}

span {
    color: rgb(150, 123, 150);
}

h4 {
    color: #f2f4f8;
    font-style: italic;
    position: relative;
    text-align: right;
    padding-right: 40px;
}

/* Navigation */

nav { 
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: left;
    padding-top: 14px;
    padding-bottom: 5px;
    font-size: 18px;
    background-color: rgb(100, 49, 100);
    color: #000;
}

nav a {
    color: #fcf8f8;
    text-decoration: none;
    font-family: Roboto;
}

.current {
    background-color: #fcf8f8;
    color: rgb(100, 49, 100);
    font-weight: 900;
   }

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.title {
    text-align: center;
    text-decoration: underline;
}

.img-title {
    font-size: 15px;
}

.center {          
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-container {
    position: relative;
    text-align: center;
    grid-column-gap: 10%;
    padding-bottom: 20px;
}

.p {
     margin: auto;
     height: auto;
     width: 300px;
     text-align: justify;
     text-indent: 1em;
     position: relative;
     padding-top: 20px;
     padding-bottom: 20px;
     font-size: 15px;
     font-family: Roboto;
}

.p_last {
     margin: auto;
     height: auto; 
     text-align: justify;
     text-indent: 1em;
     position: relative;
     font-size: 15px;
     font-family: Roboto;
}

.overlay {
    position: absolute; 
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 280px;
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity: 0;
    color: #f8f4f7;
    font-size: 15px;
    text-align: center;
}

.image-container:hover .overlay {
    opacity: 1;  
}

.image-container:hover .overlay2 {
    opacity: 1;  
}

.image-container:hover .overlay3 {
    opacity: 1;  
}
 
.overlay2 {
    position: absolute; 
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    width: 340px;
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity: 0;
    color: #f8f4f7;
    font-size: 15px;
    text-align: center; 
}

.overlay3 {
    position: absolute; 
    left: 50%;
    bottom: -15px;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
    opacity: 0;
    color: #f8f4f7;
    font-size: 15px;
    text-align: center; 
}

h3 {
    text-align: left;
    padding-left: 40px;
    background-color: rgb(100, 49, 100);
    color: #f8f4f7;
    padding-top: 5px;
    font-size: 15px;
}

.wiki {
    text-align: justify;
    padding: 15px;
    font-size: 12px;
}

/* Footer */

footer {
    background-color: rgb(100, 49, 100);
    color: rgb(150, 123, 150);
    text-align: right;
    height: auto;
}


/* CONTACT FORM */

h5 {
    text-align: center;
    font-size: 16px;
    padding: 10px;
}

form {
    border: 2px solid #ccc; 
    width: auto;
    margin: auto; 
    margin-bottom: 50px;
    padding: 20px;
}

label {
    display: flex;
    width: 90px;
    text-align: right;
    font-size: 15px;
    color: rgb(100, 49, 100);
}

input {
    width: 300px;
    font-size: 15px;
    background-color: #e9e9e9;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #999;
}

textarea {
    font-size: 15px;
    background-color: #e9e9e9;
    box-sizing: content-box;
    margin-bottom: 5px;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
    outline: none;
}

button {
    width: 100px;
    font-size: 15px;
    background-color: #676767;
    border: 1px solid #696969;
    color: #fff;
    margin-top: 10px;
}

button:hover {
    background-color: rgb(100, 49, 100);
    border: 1px solid rgb(100, 49, 100);
    cursor: pointer;
}

.email {
    text-align: center;
    padding-bottom: 40px;
}


/* Large screen view (desktop size) */
   
@media only screen and (min-width: 1100px) { 

    .wrapper {
        width: 1100px;
    }

    .container {
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-rows: 338px auto 230px 690px 690px 500px 200px 40px;
    }


    header {
         grid-column: 1/4;
         grid-row: 1/2;
    }
   
    nav {
         grid-column: 1/4;
         grid-row: 2/3;
    }

    section {
         grid-column: 1/4;
         grid-row: 3/4;
    }

    .article1 {
         grid-column: 1/2;
         grid-row: 4/5;
    }
   
    .article1_c {
         grid-column: 2/3;
         grid-row: 4/5;
    }
   
    .article1_r {
         grid-column: 3/4;
         grid-row: 4/5;
    }
   
   .article2 {
         grid-column: 1/2;
         grid-row: 5/6;
    }

    .article2_c {
        grid-column: 2/3;
        grid-row: 5/6;
    }   

    .article2_r {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    .article3 {
        grid-column: 1/4;
        grid-row: 6/7;
    }

    .reference {
        grid-column: 1/4;
        grid-row: 7/8;
    }


    footer {
        grid-column: 1/4;
        grid-row: 8/9;
    }

    .title {
        margin-top: 80px;
    }

    h1 {
        bottom: 250px;
    }    

    h4 {
        bottom: 140px;
    }

    nav { 
        text-align: left;
        padding-top: 14px;
        padding-left: 40px;
        margin-bottom: 10px;
    }

    nav a {
        padding: 5px 12px 12px 12px;
    }

    .p_last {
        width: 700px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .overlay3 {
        width: 800px;
    }

    form {
        width: 520px;
    }

    textarea {
        width: 500px;
        height: 80px;
    }

    footer p {
        padding-right: 40px;
    }

}


/* mobile L view2 (in between tablet and phone size)  */

@media only screen and (max-width: 767px) and (min-width: 450px) {

    .wrapper {
        width: 410px;
    }

    .container {
         grid-template-columns: 100%;
         grid-template-rows: 107px auto 200px 700px 700px 700px 620px 700px 650px 650px 400px 40px;
    }

    header {
        grid-column: 1/2;
        grid-row: 1/2;
   }

    nav {
         grid-column: 1/2;
         grid-row: 2/3;
   }
  
    section {
        grid-column: 1/2;
        grid-row: 3/4;
   }

    .article1 {
         grid-column: 1/2;    
         grid-row: 4/5;
   }
  
    .article1_c {
         grid-column: 1/2;
         grid-row: 5/6;
   }
  
    .article1_r {
         grid-column: 1/2;    
         grid-row: 6/7;
   }
  
    .article2 {
         grid-column: 1/2;    
         grid-row: 7/8;
   }

    .article2_c {
         grid-column: 1/2;   
         grid-row: 8/9;
   }   

    .article2_r {
         grid-column: 1/2;
         grid-row: 9/10;
   }

    .article3 {
         grid-column: 1/2;   
         grid-row: 10/11;
   }

    .reference {
         grid-column: 1/2;   
         grid-row: 11/12;
   }   　

    footer {
         grid-column: 1/2;   
         grid-row: 12/13;
   } 

    h1 {
        bottom: 100px;
        font-size: 23px;
    } 

    h4 {
        bottom: -70px;
        font-size: 13px;
        text-align: center;
        padding-right: 0px;
        color: #000;
    }


    nav { 
        top: -113px;
        text-align: center;
    }

    nav a {
        padding: 5px 12px 12px 12px;
        font-size: 15px;
    }    

    .title {
        padding-top: 40px;
    }

    .article3 img {
        width: 375px;
    }

    .overlay3 {
        width: 375px;
    }
 
    .p_last {
         width: 300px;   
         padding-left: 20px;
         padding-right: 20px;
    }

    form {
        border: 0px;
        width: 350px;
    }

    textarea {
        width: 310px;
        height: 80px;
    }

    footer p {
        padding-right: 20px;
    }

}

/* mobile S view */

@media only screen and (max-width: 450px) {

    .wrapper {
        width: 350px;
    }

    .container {
         grid-template-columns: 100%;
         grid-template-rows: 107px auto 170px 700px 700px 700px 620px 700px 650px 650px 400px 40px;
    }

    header {
        grid-column: 1/2;
        grid-row: 1/2;
   }

    nav {
         grid-column: 1/2;
         grid-row: 2/3;
    }
  
    section {
        grid-column: 1/2;
        grid-row: 3/4;
   }

    .article1 {
         grid-column: 1/2;    
         grid-row: 4/5;
   }
  
    .article1_c {
         grid-column: 1/2;
         grid-row: 5/6;
   }
  
    .article1_r {
         grid-column: 1/2;    
         grid-row: 6/7;
   }
  
    .article2 {
         grid-column: 1/2;    
         grid-row: 7/8;
   }

    .article2_c {
         grid-column: 1/2;   
         grid-row: 8/9;
   }   

    .article2_r {
         grid-column: 1/2;
         grid-row: 9/10;
   }

    .article3 {
         grid-column: 1/2;   
         grid-row: 10/11;
   }

    .reference {
         grid-column: 1/2;   
         grid-row: 11/12;
   }   　

    footer {
         grid-column: 1/2;   
         grid-row: 12/13;
   }

    h1 {
        bottom: 100px;
        font-size: 23px;
    } 

    h4 {
        bottom: -80px;
        font-size: 13px;
        text-align: center;
        padding-right: 0px;
        color: #000;
    }

    h5 {
        margin-top: 100px;
    }

    nav { 
        text-align: center;
    }

    nav a {
        padding: 5px 12px 12px 12px;
        font-size: 15px;
    }    

    .title {
        padding-top: 20px;
    }

    .article3 img {
        width: 350px;
    }

    .overlay3 {
        width: 350px;
    }
 
    .p_last {
         width: 300px;   
         padding-left: 20px;
         padding-right: 20px;
    }

    form {
        border: 0px;
        width: 340px;
    }

    textarea {
        width: 300px;
        height: 80px;
    }

    footer p {
        padding-right: 20px;
    }

}



/* Tablet view (in between desktop and phone size) */

@media only screen and (max-width: 1100px) and (min-width: 768px) {

    .wrapper {
        width: 750px;
    }

    .container {
        grid-template-columns: 50% 50%;
        grid-template-rows: 230px auto 180px 690px 690px 690px 500px 240px 50px;
    }
   

   header {
        grid-column: 1/3;
        grid-row: 1/2;
   }
  
   nav {
         grid-column: 1/3;
         grid-row: 2/3;
   }

   section {
        grid-column: 1/3;
        grid-row: 3/4;
   }

   .article1 {
        grid-column: 1/2;
        grid-row: 4/5;
   }
  
   .article1_c {
        grid-column: 2/3;
        grid-row: 4/5;
   }
  
   .article1_r {
        grid-column: 1/2;
        grid-row: 5/6;
   }
  
   .article2 {
        grid-column: 2/3;
        grid-row: 5/6;
   }

   .article2_c {
       grid-column: 1/2;
       grid-row: 6/7;
   }   

   .article2_r {
       grid-column: 2/3;
       grid-row: 6/7;
   }

   .article3 {
       grid-column: 1/3;
       grid-row: 7/8;
   } 

   .reference {
         grid-column: 1/3;   
         grid-row: 8/9;
    }

   footer {
       grid-column: 1/3;
       grid-row: 9/10;
    }

    h1 {
       bottom: 230px;
    }    

    h4 {
       bottom: 130px;
       font-size: 16px;
    }

    nav { 
        text-align: left;
        padding-top: 14px;
        padding-left: 40px;
        margin-bottom: 10px;
    }
    
    nav a {
        padding: 5px 12px 12px 12px;
    }

    .title {
        padding-top: 40px;
    }

    .p_last {
        width: 600px;
        padding-left: 25px;
        padding-right: 25px;
    } 

    .article3 img {
        width: 750px;
    }

    .overlay3 {
        width: 750px;
    }

    form {
        width: 520px;
    }

    textarea {
        width: 500px;
        height: 80px;
    }

    footer p {
        padding-right: 40px;
    }

}

